.banner, .banner img{
    width: 100%;
    display: inline-block;
    height: 1.8rem !important;
    position: relative;
}

.title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.2rem 0.5rem 0.12rem 0.13rem;
    height: 0.05rem;
    color: #fff;
    font-size: 0.15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
}

.cover{
    width: 0.8rem;
    height: 0.7rem;
    float: left;
    border-radius: 0.05rem;
}

.adde{
     line-height: 1.3;
     position: relative;
     left: 0.1rem;
     top: 0.02rem;
     overflow: hidden;
     text-overflow: ellipsis;
     word-wrap: normal;
     white-space: nowrap;
     font-size: 0.15rem;
}
.pade{
    color: #a9a9a9;
    margin: 0;
    padding: 0;
    position: relative;
    width: 2.45rem;
    left: 0.1rem;
    top: 0.08rem;
    height: 0.45rem;
    font-size: 0.12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.3;
}

.foot{
    font-size: 0.15rem;
    position: relative;
    top: 0.1rem;
    text-align: right;
}

:global {
    #root{
        .slider-list{
            height: 1.8rem !important;
        }
        .slider-decorator-0{
            position: absolute;
            width: auto !important;
            height: 0.2rem  !important;
            bottom: 0.15rem !important;
            right: 0.1rem;
        }
        .am-card-body{
            padding: 10px 10px 6px;
            width: 100%;
            margin: 0 auto;
            text-overflow: ellipsis;
            // white-space: nowrap;
            // overflow: hidden;
        }
        .am-tabs-default-bar-tab-active{
            color: #21b100;
        }
        .am-tabs-default-bar-underline{
            border: none;
        }
        .am-carousel-wrap-dot > span{
            width: 0.06rem;
            height: 0.06rem;
        }
        * {
            touch-action: pan-y;// 解决滑动问题
        }
    }
}